*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.section1-wrapper{
    padding-bottom: 50px;
}
.nav-wrapper{
    background-color: #303030;

}
nav{
    padding: 10px 0px;
}
li{
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Oswald";
    list-style-type: none;
    padding: 10px 30px;
}
.search>i{
    color: #ffffff;
    font-size: 25px;
}


/* section1 */

#section1{
    /* background-color: #e8631c; */
    /* background: url(Image/banner2.png)no-repeat center center/cover; */
    background-image: url(Image/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;

}
.text{
    width: 40%;
    margin: auto;
    text-align: center;
    padding: 50px 0px;
}
h2{
    font-size: 75px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Oswald";
}
h2+p{
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    padding: 20px 0px;
}
.col-33{
    width: 33.33%;
    /* height: 400px; */
    /* border: 1px solid black; */
    margin: 30px 0px;
}


/* Section 2 */

#section2{
    background-color: #303030;
}
.wrapper{
    padding: 50px 0px;
    position: relative;
}
.shape1{
    position: absolute;
    width: 50%;
    top: -420px;
    left: -250px;

}
.img-wrap{
    padding: 30px 0px;
}
.card{
    background-color: #e8631c;
    text-align: center;
    border-radius: 8px;
    width: 70%;
    margin: auto;
    padding: 20px 0px 10px;
}
h3{
    font-size: 37px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: "Oswald";
}
h3+p{
    font-size: 22px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    padding: 20px 20px;
    
}
button{
border-radius: 4px;
background-color: #303030;
font-size: 25px;
color: #ffffff;
font-weight: 400;
font-family: "Oswald";
padding: 10px 80px;
margin-bottom: 30px;
}
